.navbar {
  background-color: black;
  padding: 15px;
  display: flex;
  width: 100%;
  top: 0;
  justify-content: center;
}
.nav-links {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 300;
  font-size: 20px;
}
.main-nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.link-text {
  padding-right: 60px;
}
